{% block body %}
    <title>Create Account</title>

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .already { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;color: crimson;}
    </style>

    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>


    {% if not app.user %}
        <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header">


                                        <h3 class="text-center font-weight-light my-4"><i class="fas fa-user-plus"></i> Create Account</h3>
                                    </div>
                                    <div class="card-body">
                                        {{ form_start(form) }}

                                        <div class="form-group">
                                            <div class="small mb-1">
                                                {{ form_label(form.username) }}
                                            </div>

                                            {{ form_widget(form.username,
                                                {'attr': {'class': 'form-control py-4','placeholder': 'Enter Username','Autofocus':'true'}}) }}
                                            <div class="form-error">
                                                {{ form_errors(form.username) }}
                                            </div>

                                        </div>



                                        <div class="form-group">
                                            <div class="small mb-1">

                                                {{ form_label(form.email) }}

                                            </div>
                                            {{ form_widget(form.email,
                                                {'attr': {'class': 'form-control py-4','placeholder': 'Enter email address'}}) }}
                                            <div class="form-error">
                                                {{ form_errors(form.email) }}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="small mb-1">
                                                        {{ form_label(form.password) }}
                                                    </div>

                                                    {{ form_widget(form.password,
                                                        {'attr': {'class': 'form-control py-4','placeholder': 'Enter Password'}}) }}
                                                    <div class="form-error">
                                                        {{ form_errors(form.password) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">

                                                <div class="form-group">
                                                    <div class="small mb-1">
                                                        {{ form_label(form.confirm_password) }}

                                                    </div>

                                                    {{ form_widget(form.confirm_password,
                                                        {'attr': {'class': 'form-control py-4','placeholder': 'Confirm Password'}}) }}
                                                    <div class="form-error">
                                                        {{ form_errors(form.confirm_password) }}
                                                    </div>
                                                </div>
                                            </div></div><br>


                                        {{ form_end(form) }}


                                        <div class="card-footer text-center">
                                            <div class="small"><a href="{{ path('login') }}">Already a memeber? Log in</a></div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                </main>
            </div>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Akram Issaoui 2020</div>
                        <div>

                            <div class="text-muted" > DateTime :
                                {{ "now"|date("H:i | d,  F Y") }}
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        </body>



    {% else %}
        <br>
        <div id="layoutError_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center mt-4">
                                <img class="mb-4 img-error" src="/img/error-404-monochrome.svg" />
                                <p class="lead">Oops..You are Already Logged In ♥</p>
                                <a href="{{ path('menu') }}"><i class="fas fa-arrow-left mr-1"></i>Return to Dashboard</a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

    {% endif %}
{% endblock %}