{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <head>

        <!-- Custom styles for this page -->
        <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
    </head>

    <body>
    <div class="container mb-3 mt-3">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col">
                        <h6 class="m-0 font-weight-bold text-primary">Liste des Devis</h6>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered"  id="dataTable" width="100%" cellspacing="0" >
                        <thead style="background-color: #4e73df;opacity: 0.9; color: #FFFFFF";>
                        <tr role="row">
                            <th>Numèro</th>
                            <th>Nom Fournisseur</th>
                            <th>Matricule fiscale</th>
                            <th>Adresse</th>
                            <th >Tel</th>
                            <th >Fax</th>
                            <th >Total HT</th>
                            <th >Total TVA</th>
                            <th >Total TTC</th>

                        </tr>
                        </thead>

                        <tbody>

                        {% for t in devis %}

                            <tr>
                                <td>{{ t.num }}/{{ t.annee}}</td>
                                <td>{{ t.NomFournisseur}}</td>
                                <td>{{ t.MatriculeFiscaleFourn}}</td>
                                <td>{{ t.AddrFournisseur}}</td>
                                <td>{{ t.TelFourn}}</td>
                                <td>{{ t.FaxFourn}}</td>
                                <td>{{ t.TotalHT}}</td>
                                <td>{{ t.TotalTva}}</td>
                                <td>{{ t.TotalTtc}}</td>


                               <!-- <td>
                                    <a href="{{ path('detail_devis',{'id':t.id}) }}"target="_blank"class="btn btn-primary btn-rectangle">
                                        <i class="fas fa-info-circle"></i> </a>


                                    <a href="{{ path('SupprimerDevis', {'id': t.id}) }}"class="btn btn-danger btn-rectangle">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                    <a href="{{ path('ajout_devis', {'id': t.id}) }} "target="_blank"class="btn btn-primary btn-rectangle">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </td>-->

                            </tr>


                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



    </div>
    </body>
{% endblock %}
