{% extends 'base2.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}
<head>
    <title>
        جـدول حوصـلــة الاثـمـــان

    </title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }


        th,td {
            border: 1px solid black;
            text-align: center;
            padding: 8px;

        }


        h4
        {
            margin:0px ;



        }
        h2{
            margin:0px ;
        }


    </style>
</head>

<body>
<h5 class="text-gray-900 text-center font-weight-bold my-1">
    جـدول حوصـلــة الاثـمـــان
    <br>
    السنــة المـاليــة : <b style="color: #ff253a">{{ "now"|date("Y") }}</b>
    <br>
    عـنـــوان الفصـل : تـاثيـــث الادارة
    <br>
    <b dir="ltr" style="color: #ff253a">{{ tr.devis.rubrique }}</b> : التبـويــب

</h5>
<div class="card-body">
    <div class="table-responsive">

        <table class="table table-sm  table-hover table-warning mb-0" width="100%" cellspacing="0" dir="rtl">
        <thead class="text-gray-900 text-center font-weight-bold">

        <tr>

            <th rowspan="3" >ع/ر	</th>

            <th rowspan="3">المواد المطلوبة	</th>
        </tr>

        <tr>

            <th>الكمية</th>
            <th>السعر الفردي</th>
            <th>(%)TVA</th>
            <th>الأداء على القيمة المضافة</th>
            <th>المجموع دون احتساب الاداءات</th>
            <th>المزود</th>

        </tr>
        </thead>
        <tbody>

{% set a=0 %}
{% set b=0 %}
        {% for k,l in tr.ligneRecaps %}
        <tr>
            <td >{{ k+1 }}</td>
            <td > <h5>{{ l.produit }}</h5></td>

            {% set b=b+1 %}


                    <td> {{ l.quantite }}</td>
                    <td>{{ l.puHt }}</td>
                    <td>{{ l.tva }}%</td>
                    <td>{{ l.montanttva }}</td>
                    <td>{{ l.totalHt }}</td>
                    <td>{{ l.nomFournisseur}}</td>


            {% set a=a+l.LigneDevis.devis.id %}

        <tr>

     {% endfor %}




        <tr class="text-dark">
            <td colspan="2" style="text-align: right" >
                <b>المجموع دون احتساب الاداءات:</b></td>
                <td colspan="6" > {{ tr.Totalht }}  </td>
        </tr>
        <tr class="text-dark">
            <td colspan="2" style="text-align: right" >
                <b>الأداء على القيمة المضافة:</b></td>

                <td colspan="6">{{ tr.Totaltva }}</td>

        </tr>
        <tr class="text-dark">
            <td colspan="2" style="text-align: right"  ><b>المجموع باحتساب الاداءات:</b></td>
                <td colspan="6">{{ tr.Totalttc }}</td>
        </tr>
        <tr>


    <td colspan="8"><a href="{{ path('TabRecapF_PDF',{'id':tr.id}) }}"target="_blank"class="btn btn-danger btn-rectangle">
            <i class="fas fa-download "> تحميل جدول الحوصلــة </i> </a>


        {#<a href="{{ path('BonCommande_PDF',{'id':tr.id}) }}"target="_blank"class="btn btn-primary btn-rectangle">
            <i class="fas fa-download "> تحميل طلــب تــــزود </i> </a>#}

        <a href="{{ path('BonCommandePDF',{'id':tr.id}) }}"target="_blank"class="btn btn-primary btn-rectangle">
            <i class="fas fa-download "> تحميل طلــب تــــزود </i> </a>
    </td>
        </tr>


        </tbody>
    </table>

    </div>
</div>
</body>
{% endblock %}


