{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}
    <title>
        Liste des Ordres de Paiement    </title>
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>


    <head>

        <!-- Custom styles for this page -->
        <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

    </head>

    <body>
    <div class="container mb-3 mt-3">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col">
                        <h6 class="m-0 font-weight-bold text-primary"> Liste des Ordres de Paiement</h6>

                    </div>
                    <div class="col-2">
                        <a href="{{ path('ajout_ordrepayement') }}" target="_blank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                            <i class="fas fa-plus fa-sm text-white-50">

                            </i> Ordre Paiement</a>

                    </div>

                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered"  id="dataTable" width="100%" cellspacing="0" >
                        <thead style="background-color: #4e73df;opacity: 0.9; color: #FFFFFF";>
                        <tr role="row">
                            <th>Numèro</th>
                            <th>Date Edition</th>
                            <th>Titre</th>
                            <th>Montant</th>
                            <th >Action</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for t in ordre %}

                            <tr>

                                <td>{{ t.num }}/{{ t.annee }}</td>
                                <td>{{ t.date | date('d/m/y') }}</td>
                                <td>{{ t.titre }}</td>
                                <td>{{ t.montant }}</td>
                                <td>

                                    <a href="{{ path('pdfop',{'id':t.id}) }}"target="_blank"class="btn btn-danger btn-rectangle">
                                        <i class="fas fa-print "></i> </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
    <script>
        var deleteLinks = document.querySelectorAll('.delete');

        for (var i = 0; i < deleteLinks.length; i++) {
            deleteLinks[i].addEventListener('click', function(event) {
                event.preventDefault();

                var choice = confirm(this.getAttribute('data-confirm'));

                if (choice) {
                    window.location.href = this.getAttribute('href');
                    $.confirm({
                        title: 'Confirm!',
                        content: 'Simple confirm!',
                        buttons: {
                            confirm: function () {
                                $.alert('Confirmed!');
                            },
                            cancel: function () {
                                $.alert('Canceled!');
                            }
                        }
                    });
                }
            });
        }
    </script>
    </body>
{% endblock %}
