{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>


    <head>

        <!-- Custom styles for this page -->
        <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

    </head>

<body>
<div class="container mb-3 mt-3">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col">
                    <h6 class="m-0 font-weight-bold text-primary">Liste des Budgets</h6>

                </div>
                <div class="col-2">
                    <a href="{{ path('Ajoutbudget') }}" target="_blank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                        <i class="fas fa-plus fa-sm text-white-50">

                        </i>Ajouter Budget</a>

                </div>

            </div>
        </div>


    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered"  id="dataTable" width="100%" cellspacing="0" >
                <thead style="background-color: #4e73df;opacity: 0.9; color: #FFFFFF";>
                <tr role="row">
                    <th> Année</th>
                    <th> Date</th>
                    <th> Total HT</th>
                    <th> Total engagements non payès</th>
                    <th> Total engagements payès</th>
                    <th>Action</th>

                </tr>
                </thead>
                <tbody>
                {% for t in budget %}

                <tr>
                    <td>{{ t.annee }}</td>
                    <td>{{ t.date |date('d/m/y')}}</td>
                    <td>{{ t.totalht }}</td>
                    <td>{{ t.totalnpaye }}</td>
                    <td>{{ t.totalpaye }}</td>
                    <td><a href="{{ path('budget',{'id':t.id}) }}"target="_blank"class="btn btn-primary btn-rectangle">
                            <i class="fas fa-eye"></i> </a>
                        <a href="{{ path('modifierbudget',{'id':t.id}) }}"target="_blank"class="btn btn-warning btn-rectangle">
                            <i class="fas fa-tools"></i> </a>
                        <a href="{{ path('Imprimerbudget',{'id':t.id}) }}" target="_blank" class="btn btn-danger btn-rectangle">
                            <i class="fas fa-print ">

                            </i></a>
                    </td>


                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}