
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>وضعية الميزانية الذاتية</title>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }


        th,td {
            border: 1px solid black;
            text-align: center;
            padding: 8px;

        }


        h4
        {
            margin:0px ;



        }
        h2{
            margin:0px ;
        }


    </style>



</head>

<body>
<div>
    <div  style="float: left; " >
        <h4>.......................صفاقس في </h4>

    </div>

    <div  style="float: right;">
        <h4> الجمهوريــــــــــة التونسيــــــــة  </h4>
        <h4> وزارة الدفــــــــــــاع الوطنــــــي  </h4>
        <h4> جيـــــــــــــــش الطيــــــــــــــران</h4>
        <h4> مدرســة الأختصــاصـات الجـوية</h4>


    </div>
    <br>
    <br><br>
    <br><br>


    <div style="text-align: center;">
        <h2  style="margin-bottom: 12px"  >مــدرســة الإختصــــــاصات الــجويــة</h2>
        <h4> وضعية الميزانيـة الذاتيـة -العنـوان الأول- لسنـة <b style="color: #ff253a">{{ budget.annee }}</b></h4>
        <h4>{{ budget.date |date('Y/m/d') }}  بتــــــاريخ </h4>
    </div>


</div>

<br>
<br>

    <div class="card-body">

        <div class="table-responsive">

            <table class="table table-sm table-hover table-warning mb-0" width="100%" cellspacing="0" dir="rtl">

                <thead class="text-dark">

                <tr>
                    <th> العنوان</th>
                    <th> التبويب</th>
                    <th> عنوان الفصل بالميزانية</th>
                    <th> المبلغ المرصود بالدينار</th>
                    <th> الإعتمادات المتعهد بها وغير المدفوعة</th>
                    <th> الإعتمادات المتعهد بها المدفوعة</th>
                    <th> المبلغ المتبقي</th>

                </tr>
                </thead>
                <tbody>
                {% for l in budget.rubriques %}
                    <tr rowspan="2">
                        <td ><b>العنوان الأول</b></td>

                        <td>{{ l.code }}</td>
                        <td>{{ l.titre }}</td>
                        <td>{{ l.montant }}</td>
                        <td>{{ l.engagementnpaye }}</td>
                        <td>{{ l.engagementpaye }}</td>
                        <td>{{ l.montant-l.engagementnpaye-l.engagementpaye }}</td>

                    </tr>
                {% endfor %}
                <tr class="text-dark">
                    <td colspan="3" rowspan="2" style="text-align: left;"><b>الجملـــة:</b></td>
                    <td rowspan="2">{{ budget.totalht }}</td>

                    <td rowspan="2" >{{ budget.totalnpaye }}</td>
                    <td rowspan="2">{{ budget.totalpaye }}</td>
                    <td rowspan="2">{{ budget.totalht-budget.totalnpaye-budget.totalpaye }}</td>
                </tr>





                </tbody>
            </table>

            <br>
            <br>
            <br>


            <h4> العقـــيد حمــودة بسـيس امـر الصـرف<br>
                بـمــدرسة الاخـتـصـــاصـات الـجـويـــة </h4>
            <br><br><br><br><br>



</div>
        </div>


